$cardWidth: 20%;
.mark-box {
	width: calc(90% + 3rem);
	max-width: 120rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.mark-con-empty {
		width: $cardWidth;
	}

	.mark-con {
		width: $cardWidth;
		padding: 1.5rem;
		.mark-card{
			width: 100%;
			height: 100%;
			border: 1px solid #ddd;
			border-radius: 1rem;
			box-shadow: 0 2px 6px rgba($color: #000000, $alpha: .1);
			overflow: hidden;
			transition: box-shadow .3s;
			&:hover {
				box-shadow: 0 2px 8px rgba($color: #000000, $alpha: .2);
				.mark-con-title {
					background: linear-gradient(180deg, #fafafa, #fff);
				}
			}
		}

		.mark-con-title {
			width: 100%;
			height: 3rem;
			line-height: 3rem;
			font-size: 1.2rem;
			text-align: center;
			// padding-left: 1rem;
			// background: #fafafa;
			background: linear-gradient(180deg, #f5f5f5, #fff);
		}

		.mark-list {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			justify-content: flex-start;
			font-size: 1.4rem;
			padding-bottom: 1rem;

			.mark-item {
				width: 100%;
				height: 4rem;
				padding: 0 2rem;
				display: flex;
				align-items: center;
				transition: background-color .3s;
				

				img {
					flex: 0 0 1.6rem;
					width: 1.6rem;
					height: 1.6rem;
					margin-right: 0.5rem;
				}

				span {overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;}
				&:hover {
					font-weight: bold;
					text-decoration: none;
					background-color: #eafffc;
				}
			}

			.mark-item-empty {
				width: 12rem;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.mark-con-empty, .mark-con {
			width: 25%;
		}
	}
	@media only screen and (max-width: 800px) {
		.mark-con-empty, .mark-con {
			width: 33.3333333%;
		}
	}
	@media only screen and (max-width: 600px) {
		.mark-con-empty, .mark-con {
			width: 50%;
		}
	}

}